.navbar {
  background-color: #012a4a;
  height: 100px;
}
.navbar-brand {
  color: #bebec9;
  font-family: "Anton", sans-serif;
  font-size: 40px;
}
.nav-link {
  color: #bebec9;
  font-family: "Vazirmatn", sans-serif;
  font-size: 20px;
  font-weight: 100;
}
.navbar-spacing {
  margin-left: 2rem;
}
.search {
  margin-left: 10rem;
}
.nav-link:hover {
  color: ;
}
