.navbar-light {
  height: 100px;
}
.nav-item {
  font-family: "Akshar", sans-serif;
  font-size: 25px;
}
.navbar-brand {
  font-family: "Fredoka One", cursive;
  font-weight: 500;
  font-size: 50px;
}
.activity {
  text-align: center;
  padding-top: 2rem;
  font-family: "Akshar", sans-serif;
  color: #003249;
}
.activity-box {
  background-color: #ffe253;
  height: 125rem;
}
.row {
  text-align: center;
}
.message-box {
  padding-left: 5rem;
  padding-top: 5rem;
  height: 45rem;
  width: 10rem;
  background-color: #003249;
}
.card {
  background-color: #ffe253;
  align-items: center;
  height: 45rem;
  margin: 4rem;
}
.activity2 {
  font-family: "Akshar", sans-serif;
  color: #003249;
}
