.navbar {
  background-color: #012a4a;
  height: 64px;
}
.navbar-brand {
  color: #bebec9;
  font-family: "Anton", sans-serif;
  font-size: 35px;
}
.nav-link {
  color: #bebec9;
  font-family: "Vazirmatn", sans-serif;
  font-size: 20px;
  font-weight: 100;
}
.navbar-spacing {
  white-space: nowrap;
}
/* .search {
  align-self: flex-end;
} */
.nav-link:hover {
  color: red;
}
